@import url("treestyletab.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace xhtml url("http://www.w3.org/1999/xhtml");

/* thumbnail */

xhtml|canvas.informationaltab-thumbnail {
	border: 1px solid ThreeDShadow;
}

:root[informationaltab-thumbnail-enabled="true"] .tabbrowser-arrowscrollbox > scrollbox:not([orient="vertical"]) {
	padding-top: 2px;
	padding-bottom: 2px;
}

/* progressbar */

label.tab-text:not([informationaltab-progress]) .tab-progress {
	visibility: collapse;
}
/* [tab-progress] is added by Tab Mix Plus */
.tabbrowser-tab:not([tab-progress]) label.tab-text[informationaltab-progress] .tab-progress {
	visibility: visible;
}

label.tab-text > .tab-label-inner-box,
label.tab-text > .tab-label-inner-box > *,
label.tab-text > .tab-label-inner-box > stack > *,
label.tab-text > .tab-label-inner-box > stack > * > spacer,
.tab-progress,
.tab-real-text {
	margin: 0;
	padding: 0;
	text-indent: 0;
}

.tab-progress-box {
	-moz-box-pack: start;
}

.tab-progress {
	height: 3px;
	min-height: 3px;
	max-height: 3px;
	min-width: 0;
	-moz-appearance: none;
	border: none;
	outline: none;

	position: relative;
	margin: -3px 0 0 -20px;
}

:root[informationaltab-progressbar-style="classic"] .tab-progress-box {
	-moz-box-pack: end;
}

:root[informationaltab-progressbar-style="classic"] .tab-progress {
	height: 0.4em;
	min-height: 0.4em;
	max-height: 0.4em;
	margin: 0.2em 0 -0.2em;
}

.tab-progress > .progress-bar,
.tab-progress > .progress-remainder {
	-moz-appearance: none;
}

.tab-progress > .progress-bar {
	background: Highlight;
}

:root[informationaltab-thumbnail-position^="5"]
  .tabbrowser-tab label {
	text-shadow: 0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog,
	             0 0 0.2em -moz-Dialog;
}

/* unread state */

:root[informationaltab-indicate-unread="true"] tab[informationaltab-unread="true"] .tab-text {
	font-style: italic;
}
