@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace xhtml url("http://www.w3.org/1999/xhtml");

/* thumbnail */

xhtml|canvas.informationaltab-thumbnail {
	border: 1px solid ThreeDShadow;
}

:root[informationaltab-thumbnail-enabled="true"] .tabbrowser-arrowscrollbox > scrollbox:not([orient="vertical"]) {
	padding-top: 2px;
	padding-bottom: 2px;
}

/* progressbar */

label.tab-text:not([informationaltab-progress]) > .tab-label-inner-box > stack > * > .tab-progress {
	visibility: collapse;
}
/* [tab-progress] is added by Tab Mix Plus */
.tabbrowser-tab:not([tab-progress]) label.tab-text[informationaltab-progress] > stack > * > .tab-progress {
	visibility: visible;
}

label.tab-text > .tab-label-inner-box,
label.tab-text > .tab-label-inner-box > *,
label.tab-text > .tab-label-inner-box > stack > *,
label.tab-text > .tab-label-inner-box > stack > * > spacer,
label.tab-text > .tab-label-inner-box > stack > * > .tab-progress,
label.tab-text > .tab-label-inner-box > stack > * > .tab-real-text {
	margin: 0;
	padding: 0;
	text-indent: 0;
}

label.tab-text > .tab-label-inner-box > stack > * > .tab-progress {
	height: 0.4em;
	min-height: 0.4em;
	max-height: 0.4em;
	min-width: 0;
	-moz-appearance: none;
	border: none;
	outline: none;

	position: relative;
	margin-top: 0.2em;
	margin-bottom: -0.2em;
}
label.tab-text > .tab-label-inner-box > stack > * > .tab-progress > .progress-bar,
label.tab-text > .tab-label-inner-box > stack > * > .tab-progress > .progress-remainder {
	-moz-appearance: none;
}

.tabbrowser-tab[informationaltab-thumbnail-position^="5"] label {
	text-shadow: 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog, 0 0 0.2em -moz-Dialog;
}

/* unread state */

:root[informationaltab-indicate-unread="true"] tab[informationaltab-unread="true"] .tab-text {
	font-style: italic;
}
