@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.dummy-tab {
	color: -moz-DialogText;
	-moz-appearance: none;
	background: transparent;
	margin: 0px;
	padding: 0px;
	border: none;
	height: 22px;
	margin-bottom: 1px;
	-moz-box-align: start;
}

.dummy-tab > .tab-image-left {
	width: 8px;
	height: 24px;
	background: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/tab-left.png") no-repeat;
	background-color: -moz-dialog;
	-moz-border-radius-topleft: 3px;
	-moz-box-align: start;
}

.dummy-tab > .tab-image-middle,
.dummy-tab > .tab-close-button {
	height: 24px;
	background: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/tab-middle.png") repeat-x;
	background-color: -moz-dialog;
	-moz-box-align: start;
}

.dummy-tab > .tab-image-right {
	width: 8px;
	height: 24px;
	background: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/tab-right.png") no-repeat;
	background-color: -moz-dialog;
	-moz-border-radius-topright: 3px;
	-moz-box-align: start;
}

.dummy-tab > .tab-image-middle > .tab-text {
	margin-top: 5px;
	font-weight: bold;
}

.dummy-tab > .tab-image-middle > .tab-icon {
	margin-top: 3px;
	-moz-margin-end: 3px;
	width: 16px;
	height: 16px;
	list-style-image: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/folder-item.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
}

.dummy-tab .toolbarbutton-icon {
	background-image: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/tab-middle.png");
	-moz-image-region: rect(0px, 16px, 16px, 0px);
	width: 16px;
	height: 19px;
	padding: 0px;
	-moz-margin-end: 0px !important;
	margin: 0;
	padding-top: 3px;
	list-style-image: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/close.png");
}


.dummy-tab radio {
	margin-top: 3px;
	-moz-box-orient: vertical;
	-moz-box-align: center;
}
