@import url("chrome://informationaltab/content/config-3.0.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
.dummy-tab {
	background: -moz-dialog url("jar:resource:///chrome/browser.jar!/skin/classic/browser/tabbrowser/tab-active-bkgnd.png") repeat-x;
}
*/

.dummy-tab .tab-image-middle .tab-icon {
	list-style-image: url("resource:///chrome/toolkit/skin/classic/global/icons/folder-item.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.dummy-tab .toolbarbutton-icon {
	list-style-image: url("resource:///chrome/toolkit/skin/classic/global/icons/close.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}
