@import url("chrome://informationaltab/content/config-base.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


.dummy-tab {
	background: -moz-dialog url("jar:resource:///chrome/classic.jar!/skin/classic/browser/tabbrowser/tab-active-bkgnd.png") repeat-x;
	margin: 2px 0px 3px;
	padding: 1px;
	border: 1px solid;
	border-bottom: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-top-colors: ThreeDShadow;
	-moz-border-right-colors: ThreeDShadow;
	-moz-border-left-colors: ThreeDShadow;
}
.dummy-tab .toolbarbutton-icon {
	-moz-image-region: rect(0px, 28px, 14px, 14px);
	width: 14px;
}
