@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabs.tabbrowser-tabs label.tab-text {
	-moz-binding: url("informationaltab.xml#tab-label") !important;
}

tabs.tabbrowser-tabs .tabbrowser-tab .tab-label-container {
	-moz-box-align: center;
}

.tab-icon-image,
.tab-throbber {
	/**
	 * They can be expanded by thumbnail in tabs unexpectedly,
	 * so we have to define their height.
	 */
	max-height: 16px;
}

#statusbar-progresspanel[informationaltab-hidden="true"],
.tabbrowser-tab[pinned="true"] .informationaltab-thumbnail-container,
.tabbrowser-tab[pinned="true"] .tab-progress-box {
	visibility: collapse !important;
}

.tab-label-container[pinned="true"] {
	visibility: collapse !important;
}

:root[informationaltab-show-last-tab-close-button="true"]
  .tabbrowser-tabs:not([closebuttons="noclose"]):not([closebuttons="closeatend"])
  > .tabbrowser-tab[visuallyselected="true"]:only-child
  .tab-close-button,
:root[informationaltab-show-last-tab-close-button="true"]
  .tabbrowser-tabs[closebuttons="alltabs"]
  > .tabbrowser-tab:only-child
  .tab-close-button {
	display: -moz-box;
}

:root[informationaltab-show-last-tab-close-button="false"]
  .tabbrowser-tabs:not([closebuttons="noclose"]):not([closebuttons="closeatend"])
  > .tabbrowser-tab[visuallyselected="true"]:only-child
  .tab-close-button,
:root[informationaltab-show-last-tab-close-button="false"]
  .tabbrowser-tabs[closebuttons="activetab"]
  > .tabbrowser-tab:only-child
  .tab-close-button,
:root[informationaltab-show-last-tab-close-button="false"]
  .tabbrowser-tabs[closebuttons="alltabs"]
  > .tabbrowser-tab:only-child
  .tab-close-button {
	display: none;
}


/* CookiePie
   http://www.nektra.com/products/cookiepie-tab-firefox-extension */
:root[informationaltab-installed-compatible-addons~="cookiepie"]
  tabs.tabbrowser-tabs label.tab-text label.tab-real-text {
	-moz-binding: url("chrome://cookiepie/content/cookiepie.xml#tablabel") !important;
}
