@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

tabs.tabbrowser-tabs label.tab-text {
	-moz-binding: url("informationaltab.xml#tab-label") !important;
}


#statusbar-progresspanel[informationaltab-hidden="true"] {
	visibility: collapse !important;
}

:root[informationaltab-show-last-tab-close-button="true"] .tabbrowser-tabs:not([closebuttons="noclose"]):not([closebuttons="closeatend"]) > .tabbrowser-tab[selected="true"]:only-child > .tab-close-button,
:root[informationaltab-show-last-tab-close-button="true"] .tabbrowser-tabs[closebuttons="alltabs"] > .tabbrowser-tab:only-child > .tab-close-button {
	display: -moz-box;
}
